@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("/digital-clock/pattern1.png");
}


/* position: relative; gebruik je als je een child div wilt positioneren vanaf die div 
dit gebruik je zodat de div responsive blijft
*/

.main {
    background: #ccc;
    width: 400px;
    margin: 100px auto;
    height: 175px;
    position: relative;
    padding: 30px;
}

/* Position vanaf de linker hoek top/left laat je de div positioneren */
 .badge {
     width: 96px;
     background: #e36657;
     color: white;
     padding: 5px 10px;
     font-family: sans-serif;
     font-weight: bold;
     position: absolute;  
     top: -15px;
     left: 40%;
 }

 .clock {
     background: #EBEBEB;
     text-align: center;
     font-size: 55px;
     height: 100%;
     padding-top: 25px;
     font-family: Orbitron;
     border-radius: 4px;
 }